.points{
    text-align: center;
    margin-bottom: 20px;
}

.grid-container{
    display: flex;
    justify-content: center;
}

.cell{
    width: 30px;
    height: 30px;
    border: 1px solid;
    margin:0px;
    padding-top: 6px;
    text-align: center;
    align-items: center;
}

.clicked{
    background-color: yellow;
}

.cell:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.words{
    margin-left: 30px;
}

.words p {
    margin: 10px;
}
